@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  background: #FF9F9F;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif; }

body {
  background: #FF9F9F;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a {
  color: #000; }
  a:focus {
    outline: none; }

.form-block {
  zoom: 1; }
  .form-block:before, .form-block:after {
    content: '';
    display: table; }
  .form-block:after {
    clear: both; }

.row {
  width: 100%;
  zoom: 1; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  height: 0;
  width: 100%; }
  hr.breakline-gray {
    border-color: #ccc; }

.btn-primary {
  background: #4A90E2;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px #aaa;
  -moz-box-shadow: 0px 2px 5px 0px #aaa;
  box-shadow: 0px 2px 5px 0px #aaa;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')"; */ }
  .btn-primary:hover {
    background: #3483de;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')"; */ }

#pwdReset {
  text-align: center;
  margin-top: 20px; }
  #pwdReset a {
    color: #fff;
    font-size: 12px;
    text-decoration: none; }
    #pwdReset a:hover {
      text-decoration: underline; }

.login-wrap {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.login-panel {
  background: #fff;
  box-shadow: 0 -7px 25px 0 rgba(0, 0, 0, 0.5);
  width: 960px;
  min-height: 500px; }

.login-img {
  float: left;
  text-align: center;
  width: calc(100% - 320px);
  background-color: #FFEEE5;
  /* Fallback Color */
  background-image: -webkit-linear-gradient(top, #FFB8B8, #FFEEE5);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #FFB8B8, #FFEEE5);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #FFB8B8, #FFEEE5);
  /* IE10 */
  background-image: -o-linear-gradient(top, #FFB8B8, #FFEEE5);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #FFB8B8, #FFEEE5); }
  .login-img img {
    opacity: .9;
    margin: 1em auto;
    width: 85%; }

.login-form {
  float: left;
  width: 320px; }

#LoginForm {
  margin: 0 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  #LoginForm .login-title {
    border-bottom: 3px solid #FF9F9F;
    color: #D97979;
    font-size: 32px;
    text-align: center;
    line-height: 1;
    margin: 0;
    margin-bottom: 25px;
    padding: 10px; }
  #LoginForm .form-block {
    margin-bottom: 20px; }
  #LoginForm label {
    color: #666;
    display: block;
    font-size: 13px;
    margin-bottom: 3px; }
  #LoginForm .form-input {
    border: 1px solid #ddd;
    background: #eee;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 12px;
    width: 100%; }
    #LoginForm .form-input:active {
      border: 1px solid #BF5858;
      -webkit-box-shadow: 0px 0px 3px 0px #4A90E2;
      -moz-box-shadow: 0px 0px 3px 0px #4A90E2;
      box-shadow: 0px 0px 3px 0px #4A90E2;
      /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')"; */ }
  #LoginForm .btn-login {
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%; }

.field-validation-valid {
  display: block;
  color: red;
  font-size: 13px;
  text-align: right;
  padding-top: 3px; }

#pwdReset {
  margin-top: 20px;
  text-align: center; }
  #pwdReset a {
    color: #999;
    font-size: 12px;
    text-decoration: none; }
    #pwdReset a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=videolist-login-styles.css.map */
