@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  background: #FF9F9F;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif; }

body {
  background: #FF9F9F;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a {
  color: #000; }

.row {
  width: 100%;
  zoom: 1; }
  .row:before, .row:after {
    content: '';
    display: table; }
  .row:after {
    clear: both; }

hr {
  border: none;
  border-top: 1px solid #ccc;
  height: 0;
  width: 100%; }

.txt-bold {
  font-weight: bold !important; }

.txt-center {
  text-align: center !important; }

.txt-right {
  text-align: right !important; }

.grid-1-2 {
  float: left;
  width: 49%; }
  .grid-1-2:first-child {
    margin-right: 1%; }
  .grid-1-2:last-child {
    margin-left: 1%; }

.w100 {
  width: 100%; }

.sys-header {
  background: #D97979;
  padding: 0px 25px;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  zoom: 1; }
  .sys-header:before, .sys-header:after {
    content: '';
    display: table; }
  .sys-header:after {
    clear: both; }
  .sys-header h1.sys-title {
    color: #fff;
    font-size: 24px;
    float: left;
    margin: 0;
    padding: 12px 0 10px; }
    .sys-header h1.sys-title span {
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 2px;
      margin-left: 10px; }
  .sys-header .cs-info {
    color: #fff;
    float: right; }
  .sys-header .cs-title {
    float: left;
    padding: 16px 10px; }
    .sys-header .cs-title .cs-name {
      font-weight: bold;
      margin: 0 10px 0 20px; }

.btn-logout {
  background: #D97979 url("../images/btn_icon-logout.svg") no-repeat;
  background-position: center center;
  display: block;
  float: right;
  margin-top: 6px;
  width: 45px;
  height: 45px;
  border-radius: 50%; }
  .btn-logout:hover {
    background-color: #BF5858;
    transition: .3s; }

.mainWrap {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: absolute;
  top: 60px;
  padding: 0px 0px 0px; }

.video-section {
  background: #361515;
  height: calc(100vh - 200px); }

.video-wrap {
  background: transparent url("../images/icon-moviebkg.svg") no-repeat center center;
  text-align: center;
  position: relative;
  height: calc(100% - 60px); }
  .video-wrap video {
    height: 100%;
    object-fit: cover; }

.video-info {
  color: #fff;
  position: absolute;
  top: 0;
  left: 4%; }
  .video-info .row {
    padding: 20px 0; }
  .video-info .video-title {
    font-size: 24px;
    margin: 3px 0;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5); }
  .video-info .video-note {
    font-size: 15px;
    margin: 3px 0;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 0.5); }

.query-section {
  background: #E8E8E8;
  flex: auto;
  width: 92%;
  margin: 0 auto;
  position: absolute;
  margin-left: 4%;
  bottom: -240px;
  transition: .5s; }
  .query-section:hover {
    bottom: 0;
    transition: .5s; }
  .query-section .query-form-wrap {
    background: #E8E8E8;
    float: left;
    padding: 10px 20px 30px;
    width: 280px; }
    .query-section .query-form-wrap form {
      margin: 0 auto;
      width: 100%; }
    .query-section .query-form-wrap .row {
      padding: 6px 0 8px; }
    .query-section .query-form-wrap h2 {
      color: #676767;
      font-size: 24px;
      text-align: center;
      margin: 0; }
    .query-section .query-form-wrap label {
      font-size: 13px;
      display: block; }
    .query-section .query-form-wrap input {
      border: 1px solid #c3c3c3;
      font-size: 16px;
      padding: 6px; }
    .query-section .query-form-wrap .datepicker {
      width: 100%; }
    .query-section .query-form-wrap .btn-query {
      background: #4A90E2;
      border-radius: 3px;
      display: inline-block;
      color: #fff;
      font-size: 16px;
      font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
      margin: 0 auto;
      margin: 5px 0;
      padding: 10px 0;
      box-shadow: 0 2px 5px 0 rgba(132, 132, 132, 0.5);
      width: 100%; }
      .query-section .query-form-wrap .btn-query:hover {
        background: #3483de;
        box-shadow: none;
        cursor: pointer; }

.query-list-wrap {
  background: #fff;
  float: left;
  padding: 15px 20px;
  position: relative;
  width: calc(100% - 280px);
  height: 400px;
  transition: .5s; }
  .query-list-wrap:hover {
    bottom: 0;
    transition: .5s; }
  .query-list-wrap table.query-table {
    border-collapse: collapse;
    font-size: 15px;
    width: 100%; }
    .query-list-wrap table.query-table th, .query-list-wrap table.query-table td {
      padding: 5px;
      text-align: left; }
    .query-list-wrap table.query-table th {
      color: #004AA0;
      font-size: 14px; }
    .query-list-wrap table.query-table td {
      color: #333; }
    .query-list-wrap table.query-table tbody tr:hover {
      background: #ffe9da; }
  .query-list-wrap .query-list-empty {
    background: #e2f8ff;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    text-align: center; }
  .query-list-wrap .query-list-btn {
    background: #999;
    border-radius: 15px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
    padding: 2px 0;
    text-decoration: none;
    width: 60px;
    height: 24px; }
    .query-list-wrap .query-list-btn.videoplay {
      background: #1ECAA3 url("../images/icon-play-video.svg") center center no-repeat; }
      .query-list-wrap .query-list-btn.videoplay:hover {
        transform: scale(1.1); }
    .query-list-wrap .query-list-btn.playing {
      background-color: orange; }
    .query-list-wrap .query-list-btn.disabled {
      cursor: default;
      pointer-events: none; }

.videolist-control {
  background: #fff;
  position: absolute;
  padding: 0px;
  right: 0;
  top: -48px; }
  .videolist-control .videolist-num {
    float: left;
    padding: 8px 10px; }
    .videolist-control .videolist-num input {
      font-family: Arial, sans-serif;
      font-size: 18px;
      padding: 5px;
      text-align: right;
      width: 60px; }
    .videolist-control .videolist-num span {
      font-size: 20px;
      font-weight: bold; }
  .videolist-control .videolist-btn-prev,
  .videolist-control .videolist-btn-next {
    background-color: #eee;
    display: block;
    float: left;
    text-decoration: none;
    width: 48px;
    height: 48px; }
    .videolist-control .videolist-btn-prev:hover,
    .videolist-control .videolist-btn-next:hover {
      background-color: #ddd; }
    .videolist-control .videolist-btn-prev.disabled,
    .videolist-control .videolist-btn-next.disabled {
      opacity: .3;
      pointer-events: none; }
  .videolist-control .videolist-btn-prev {
    background: #eee url("../images/videolist-btn-prev.png"); }
  .videolist-control .videolist-btn-next {
    background: #eee url("../images/videolist-btn-next.png"); }

.sys-error-msg {
  position: fixed;
  top: 20px;
  transform: translateX(-50%);
  left: 50%;
  width: 300px; }
  .sys-error-msg .sys-error-msg-inner {
    background: rgba(200, 0, 0, 0.9);
    margin-bottom: 20px;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    transition: .2s; }
  .sys-error-msg span {
    color: #fff;
    font-size: 15px; }
  .sys-error-msg a.btn-msg-close {
    background: red;
    color: #eee;
    display: block;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    width: 24px;
    height: 24px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: -10px; }
    .sys-error-msg a.btn-msg-close:hover {
      background: #fb0000;
      transition: .5s; }

/* Datepicker */
.datepicker {
  background-image: url("../images/icon-datepicker.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  background-size: 24px 24px;
  width: 140px; }

/* JQuery UI Calendar Customize */
#ui-datepicker-div {
  background-color: #ffcfcf;
  border: 3px solid #de9f9f;
  z-index: 999 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.ui-widget-content {
  background: #abffde;
  border: 1px solid #ccc; }

.ui-widget-header {
  background: none !important;
  border: none !important; }

.ui-datepicker {
  font-family: Arial, sans-serif; }
  .ui-datepicker table {
    table-layout: fixed; }
    .ui-datepicker table th,
    .ui-datepicker table td {
      width: calc(100%/7) !important; }
  .ui-datepicker .ui-datepicker-title {
    line-height: auto;
    line-height: 100% \9; }
    .ui-datepicker .ui-datepicker-title select {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-family: Arial, sans-serif;
      font-weight: bold;
      margin: 6px !important;
      padding: 10px;
      width: auto;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 0 transparent;
      box-shadow: 0 0 0 0 transparent;
      /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=180, Color='#000000')"; */ }
      .ui-datepicker .ui-datepicker-title select:hover {
        background: #eee; }

.ui-datepicker-year {
  color: #41417d;
  font-size: 22px;
  font-weight: 100; }
  .ui-datepicker-year:after {
    content: ' /'; }

.ui-datepicker-month {
  color: #41417d;
  font-size: 22px;
  font-weight: 100; }
  .ui-datepicker-month:before {
    content: '/ '; }

.ui-datepicker-prev,
.ui-datepicker-next {
  background: none !important;
  border: none !important;
  cursor: pointer; }
  .ui-datepicker-prev .ui-icon,
  .ui-datepicker-next .ui-icon {
    background: none !important; }
  .ui-datepicker-prev:before,
  .ui-datepicker-next:before {
    color: #41417d;
    font-size: 24px;
    font-weight: 100;
    position: absolute;
    top: 3px; }

.ui-datepicker-prev:before {
  content: '<';
  font-family: "Arial";
  font-weight: 200;
  top: 0px;
  left: 10px; }

.ui-datepicker-next:before {
  content: '>';
  font-family: "Arial";
  font-weight: 200;
  top: 0px;
  right: 10px; }

.ui-datepicker-prev-hover,
.ui-datepicker-next-hover {
  top: 2px !important; }

.ui-datepicker-calendar thead th {
  font-family: "微軟正黑體", sans-serif;
  font-size: 12px; }
.ui-datepicker-calendar tr th a,
.ui-datepicker-calendar tr th span,
.ui-datepicker-calendar tr td a,
.ui-datepicker-calendar tr td span {
  color: #555 !important; }
.ui-datepicker-calendar tr th:first-child a,
.ui-datepicker-calendar tr th:first-child span,
.ui-datepicker-calendar tr td:first-child a,
.ui-datepicker-calendar tr td:first-child span {
  color: #ff1818 !important; }
.ui-datepicker-calendar tr th:last-child a,
.ui-datepicker-calendar tr th:last-child span,
.ui-datepicker-calendar tr td:last-child a,
.ui-datepicker-calendar tr td:last-child span {
  color: #327bd0 !important; }

.ui-state-default {
  background: none !important;
  border: none !important;
  text-align: center !important;
  padding: 5px 0 !important; }

.ui-state-active {
  font-weight: bold !important; }

.ui-datepicker-current-day,
.ui-datepicker-today {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.ui-datepicker-current-day a {
  background: #D97979 !important;
  border: 2px solid #D97979 !important;
  color: #fff !important; }

.ui-datepicker-today {
  color: #eee; }
  .ui-datepicker-today a {
    border: 2px solid #ffa09f !important; }

@keyframe menuUp {
  from {
    bottom: -100px; }

  to {
    bottom: 0; } }
@keyframe menuDown {
  from {
    bottom: 0; }

  to {
    bottom: -100px; } }

/*# sourceMappingURL=videolist-styles.css.map */

.query-section {
    transition-delay: .5s;
}

.query-section.force-fold:hover {
    transition: .5s;
    bottom: -240px;
}
.query-section.init {
    bottom: 0px;
}
.video-wrap video{
    object-fit: contain;
}